<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Melcom celebrates GH@60</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://use.fontawesome.com/5bfb66facb.js"></script>
	<link rel="stylesheet" href="css/styles.css">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
</head>
<body ng-app="irep">
	<div class="container" ng-controller="irepCtrl">
		<header class="logo-wrapper row">
			<img class="pull-left" src="img/melcom_logo.png" width="120" alt="">
		</header>
		<div class="row">
			<div class="content-wrapper image-editor col-sm-offset-6 col-sm-5 col-md-4 col-lg-3">
				<section class="photo-wrapper">
					<div class="photo-container">
						<div ng-class="{'grayscale': applyGrayscale}" class="cropit-preview">
							<div ng-hide="uploaded" class="upload btn btn-danger text-center">
								<span>Add Photo</span>
								<input type="file" class="cropit-image-input">
							</div>
							<i ng-show="imageLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
							<span ng-show="imageLoading" class="sr-only loading">Loading...</span>
							<img src="img/GH@60-filter.png" height="161" width="300" alt="Ghana at 60">
						</div>
					</div>
				</section>
				<section ng-show="uploaded" class="row">
					<div class="col-xs-12 text-center">
						<button ng-click="updateImage()" class="update btn btn-danger">Change Photo</button>
					</div>
				</section>
				<section class="row">
					<div class="col-xs-2">
						<i ng-click="rotateCCW()" class="fa fa-undo rotate-ccw" aria-hidden="true"></i>
					</div>
					<div class="col-xs-8">
						<input type="range" value="0" class="cropit-image-zoom-input custom">
					</div>
					<div class="col-xs-2">
						<i ng-click="rotateCW()" class="fa fa-repeat rotate-cw" aria-hidden="true"></i>
					</div>
				</section>
				<section id="filters">
					<button ng-click="applyGrayscale = !applyGrayscale" type="button" class="btn btn-default btn-sm btn-block"><span class="icon-image pull-right"></span>GREYSCALE</button>
					<button ng-click="saveImage()" type="button" class="btn btn-primary btn-sm btn-block"><span class="icon-floppy-disk pull-right"></span>SAVE</button>
				</section>
				<section id="share" class="text-center">
					<div>
						<i class="fa fa-facebook-square" aria-hidden="true"></i>
						<i class="fa fa-twitter-square" aria-hidden="true"></i>
						<i class="fa fa-instagram" aria-hidden="true"></i>
					</div>
				</section>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>