$body-bg: lighten(black, 10%);
$body-color: white;

$photo-wrapper-border-color: white;
$photo-container-bg-color: white;

$facebook-color: #3b5998;
$instagram-color: #e1306c;
$twitter-color: #1da1f2;