$body-bg: lighten(black, 10%);
$body-color: white;

$photo-wrapper-border-color: white;
$photo-container-bg-color: white;
$photo-loader-color: lighten(black, 20%);

$facebook-color: #3b5998;
$whatsapp-color: #25d366;
$twitter-color: #1da1f2;