// Definitions
@import "variables";

// Lib
@import "../../lib/jssocials/styles/jssocials.scss";
@import "../../lib/jssocials/styles/jssocials-theme-flat.scss";

// Mixins
@import "mixins";


// Custom Styles
a, button {
	color: inherit;
	&:hover, &:focus {
		color: inherit;
	}
	&:focus {
		outline: none !important;
	}
}

body {
	color: $body-color;
	background: url(../img/GH@60-page_bg.jpg) no-repeat center bottom fixed;
	background-size: cover;
}

.logo-wrapper {
	padding-top: 10px;
}
.content-wrapper {
	> section {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
.photo-wrapper {
	padding: 10px 20px;
	border-top: 2px solid $photo-wrapper-border-color;
	border-bottom: 2px solid $photo-wrapper-border-color;
}
.photo-container {
	position: relative;
	height: 300px;
	max-width: 250px;
	background: $photo-container-bg-color;
	margin-left: auto;
	margin-right: auto;
	.fa-spinner,
	.loading.sr-only {
    	position: relative;
    	top: 140px;
	}
	.fa-spinner {
	    color: $photo-loader-color;
    	font-size: 26px;
	}
}
.cropit-preview {
	width: 100%;
	height: 100%;
	> img {
		display: block;
		width: 100%;
		height: auto;
		position: absolute;
		z-index: 10;
		bottom: 0
	}
}

.cropit-preview-image-container {
	cursor: move;
}

.cropit-preview-background {
	opacity: .2;
	cursor: auto;
}

.image-size-label {
	margin-top: 10px;
}

.rotate-cw,
.rotate-ccw {
	cursor: pointer;
	font-size: 20px;
}
.btn.upload, .update.btn {
	overflow: hidden;
	> input {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}
}
.btn.upload {
 	position: relative;
	z-index: 10;
	top: 100px;
	left: 28%;
}


#filters {
	.icon-image, .icon-floppy-disk {
		font-size: 18px;
	}
}
#share {
	i {
		font-size: 34px;
		margin-left: 5px;
		margin-right: 5px;
		color: white;
		&.fa-facebook-square:hover {
			color: $facebook-color;
		}
		&.fa-instagram:hover {
			color: $instagram-color;
		}
		&.fa-twitter-square:hover {
			color: $twitter-color;
		}
	}
}


input[type=range] {
	-webkit-appearance: none;
	margin: 7px 0;
	width: 100%;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #EEEEEE;
	border-radius: 5px;
	border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 3px #000000;
	border: 0px solid #2497E3;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: #AAAAAA;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #EEEEEE;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #EEEEEE;
	border-radius: 5px;
	border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 3px #000000;
	border: 0px solid #2497E3;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: #AAAAAA;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #EEEEEE;
	border: 0px solid #000000;
	border-radius: 10px;
	box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
	background: #EEEEEE;
	border: 0px solid #000000;
	border-radius: 10px;
	box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 3px #000000;
	border: 0px solid #2497E3;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: #AAAAAA;
	cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
	background: #EEEEEE;
}
input[type=range]:focus::-ms-fill-upper {
	background: #EEEEEE;
}

.grayscale {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}